<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
<header>
   
    <nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
   <div class="logo">
        <img src="wwwroot/img/logoOPA-02.png" alt="logo"> 
    </div>
     <div class="iconos-header">
      <a href="#" class="buscar">🔍</a>
      <a href="#" class="carrito">🛒</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="@Url.Action("Index")"><p>Home</p><img src="/img/home.png"></a>
            <!--- PONER EN FLEX --->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="@Url.Action("armario","Armario")"><p>Armario</p><img src="/img/Armario.png"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="@Url.Action("armario","Armario")"><p>ENCONTRÁ TU ESTILO</p><img src="/img/encontra.png"></a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="@Url.Action("OUTFITS")"><p>OUTFITS</p><img src="/img/OUTFITS.png"></a>
          </li>
          <li class="nav-item">
     <a class="nav-link" href="@Url.Action("vistaUsuario","Comprador")"><p>MI PERFIL</p><img src="/img/perfil.png"></a>
          </li>
          <li class="nav-item">
               <a class="nav-link" href="@Url.Action("vistaTienda","Tienda")"><p>Mi Tienda</p><img src="/img/tienda.png"></a>
          </li>

        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
  </header>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; @DateTime.Now.Year - NombreProyecto
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
